{deps, [
       {hackney, "1.8.0"},
       {jsx, "2.8.2"},
       {syn, "1.6.1"}
]}.

{profiles, [
           {test, [{deps,
           [
           {meck, "0.8.4"}
  ]}]}
           ]
}.

{plugins, [
          rebar3_auto,
          rebar3_run,
          rebar_alias,
          {rebar3_lint, "0.1.7"}
          ]
}.

 {alias, [
   {testall,  [ct, eunit, cover]},
   {validate, [ct, eunit, lint, dialyzer]},
   {ci, [eunit, lint, dialyzer]}
 ]}.

{shell, [{apps, [kernel,stdlib,hackney,erl_pengine]}]}.