{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [
       {lager, "3.4.2"},
       {hackney, "1.8.0"},
       {jsx, "2.8.2"}
]}.

{profiles, [
           {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]},
           {test, [{deps,
           [
           {proper, "1.1.1-beta"},
           {meck, "0.8.4"}
  ]}]}
           ]
}.

{plugins, [
          rebar3_auto,
          rebar3_hex,
          rebar3_run,
          rebar_alias,
          {rebar3_lint, "0.1.7"}
          ]
}.

 {alias, [
   {testall,  [ct, eunit, cover]},
   {validate, [ct, eunit, lint, dialyzer, xref]},
   {ci, [ct, eunit, lint, dialyzer]}
 ]}.

{shell, [{apps, [kernel,stdlib,lager,hackney,erlang_pengine]}]}.